{% extends "base.html" %}
{% block title %}电脑列表{% endblock %}
{% block headjs %}
<script type="text/javascript">
function edit(id){
    window.open('/web/pcedit/'+id, 'newwindow', 'height=500, width=1000, top=100, left=200, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no')
}
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12 text-right" style="margin-bottom: 5px;">
        <a class="btn btn-primary" href="/web/pcadd/">新增电脑</a>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tr class="info">
                <th>名称</th>
                <th>编号</th>
                <th>IP</th>
                <th class="text-center">操作</th>
            </tr>
            {% for pc in list %}
            <tr>
                <td>{{ pc.name }}</td>
                <td>{{ pc.code }}</td>
                <td>{{ pc.ip }}</td>
                <td class="text-center">
                    <button class="btn btn-default btn-sm" onclick="edit({{ pc.id }})">修改</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <nav class="text-center">
        <ul class="pagination">{{ pageHtml }}</ul>
    </nav>
</div>
{% endblock %}