{% extends "base.html" %}
{% block title %}用户列表{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12 text-right" style="margin-bottom: 5px;">
        <a class="btn btn-primary" href="/web/useradd/">新增用户</a>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tr class="info">
                <th>名称</th>
                <th>用户名</th>
                <th>用户组</th>
                <th class="text-center">类型</th>
                <th class="text-center">年龄</th>
                <th>手机</th>
                <th>邮箱</th>
                <th class="text-center">添加时间</th>
                <th class="text-center">操作</th>
            </tr>
            {% for user in list %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.groupId.name }}</td>
                <td class="text-center">{{ user.typeId.name }}</td>
                <td class="text-center">{% if user.gender %}女{% else %}男{% endif %}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td class="text-center">{{ user.createDate|date:"Y-m-d H:i:s" }}</td>
                <td class="text-center"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}